{% extends 'base.html.twig' %}

{% block title %}New Employe{% endblock %}

{% block body %}
    <h1 align="center">Créer un nouvel employe</h1><br>
    <div class="container raw col-6" align="center">
        <div class="shadow-lg p-3 mb-5 bg-body rounded" >
            {{ include('employe/_form.html.twig') }}

            <a href="{{ path('employe_index') }}">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
