{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
    <h1>Créer une nouvelle formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('inscription_index') }}"> Liste des inscriptions</a>
{% endblock %}
