{% extends 'base.html.twig' %}

{% block title %}Inscriptions{% endblock %}

{% block body %}
    <h1>Valider ou non les inscriptions</h1>

    <h1>Valider votre choix</h1>

    {{ include('formation/_form.html.twig', {'button_label': 'Valider'}) }}

    <a href="{{ path('inscription_index') }}">Retour</a>
{% endblock %}
